<!-- CTA Block Styling -->
{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="89"}}
<!-- Colour Chart Styling -->
{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="92"}}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="shade-title">Dark Colours</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Jetset-Black.jpg"
                    target="_blank" title="Beauty Works Dark Colour Collection - Jetset Black">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Dark-Tones/Jetset_Black.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Dark Colour Collection - Jetset Black"
                        title="Beauty Works Dark Colour Collection - Jetset Black">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Jetset-Black.jpg"
                        target="_blank" title="Beauty Works Dark Colour Collection - Jetset Black">
                        <h5 class="card-title">1 Jetset Black</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Natural-Black.jpg"
                    target="_blank" title="Beauty Works Dark Colour Collection - Natural Black">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Dark-Tones/Natural_Black.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Dark Colour Collection - Natural Black"
                        title="Beauty Works Dark Colour Collection - Natural Black">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Natural-Black.jpg"
                        target="_blank" title="Beauty Works Dark Colour Collection - Natural Black">
                        <h5 class="card-title">1A Natural Black</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Ebony.jpg" target="_blank"
                    title="Beauty Works Dark Colour Collection - Ebony">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Dark-Tones/Ebony.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Dark Colour Collection - Ebony"
                        title="Beauty Works Dark Colour Collection - Ebony">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Ebony.jpg" target="_blank"
                        title="Beauty Works Dark Colour Collection - Ebony">
                        <h5 class="card-title">1B Ebony</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Raven.jpg" target="_blank"
                    title="Beauty Works Dark Colour Collection - Raven">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Dark-Tones/Raven.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Dark Colour Collection - Raven"
                        title="Beauty Works Dark Colour Collection - Raven">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Raven.jpg" target="_blank"
                        title="Beauty Works Dark Colour Collection - Raven">
                        <h5 class="card-title">2 Raven</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Brazilia.jpg" target="_blank"
                    title="Beauty Works Dark Colour Collection - Brazilia">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Dark-Tones/Brazilia.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Dark Colour Collection - Brazilia"
                        title="Beauty Works Dark Colour Collection - Brazilia">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Brazilia.jpg"
                        target="_blank" title="Beauty Works Dark Colour Collection - Brazilia">
                        <h5 class="card-title">3 Brazilia</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Hot-Toffee.jpg"
                    target="_blank" title="Beauty Works Dark Colour Collection - Hot Toffee">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Dark-Tones/Hot_Toffee.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Dark Colour Collection - Hot Toffee"
                        title="Beauty Works Dark Colour Collection - Hot Toffee">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Hot-Toffee.jpg"
                        target="_blank" title="Beauty Works Dark Colour Collection - Hot Toffee">
                        <h5 class="card-title">4 Hot Toffee</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Golden-Brown.jpg"
                    target="_blank" title="Beauty Works Dark Colour Collection - Golden Brown">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Dark-Tones/Golden_Brown.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Dark Colour Collection - Golden Brown"
                        title="Beauty Works Dark Colour Collection - Golden Brown">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Golden-Brown.jpg"
                        target="_blank" title="Beauty Works Dark Colour Collection - Golden Brown">
                        <h5 class="card-title">5 Golden Brown</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Caramel.jpg" target="_blank"
                    title="Beauty Works Dark Colour Collection - Caramel">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Dark-Tones/Caramel.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Dark Colour Collection - Caramel"
                        title="Beauty Works Dark Colour Collection - Caramel">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Caramel.jpg"
                        target="_blank" title="Beauty Works Dark Colour Collection - Caramel">
                        <h5 class="card-title">6 Caramel</h5>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>