<!-- CTA Block Styling -->
{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="89"}}
<!-- Colour Chart Styling -->
{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="92"}}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="shade-title">Invisi® Exclusives</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Bel-Air.jpg"
                    target="_blank" title="Beauty Works Invisi® Exclusives Collection - Bel-Air">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Colour-Melt-Collection/Bel-Air.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Invisi® Exclusives Collection - Bel-Air"
                        title="Beauty Works Invisi® Exclusives Collection - Bel-Air">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Bel-Air.jpg"
                        target="_blank" title="Beauty Works Invisi® Exclusives Collection - Bel-Air">
                        <h5 class="card-title">Bel-Air</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Beverly-Hills.jpg"
                    target="_blank" title="Beauty Works Invisi® Exclusives Collection - Beverly Hills">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Colour-Melt-Collection/Beverly_Hills.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Invisi® Exclusives Collection - Beverly Hills"
                        title="Beauty Works Invisi® Exclusives Collection - Beverly Hills">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Beverly-Hills.jpg"
                        target="_blank" title="Beauty Works Invisi® Exclusives Collection - Beverly Hills">
                        <h5 class="card-title">Beverly Hills</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Rodeo-Drive.jpg"
                    target="_blank" title="Beauty Works Invisi® Exclusives Collection - Rodeo Drive">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Colour-Melt-Collection/Rodeo_Drive.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Invisi® Exclusives Collection - Rodeo Drive"
                        title="Beauty Works Invisi® Exclusives Collection - Rodeo Drive">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Rodeo-Drive.jpg"
                        target="_blank" title="Beauty Works Invisi® Exclusives Collection - Rodeo Drive">
                        <h5 class="card-title">Rodeo Drive</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Santa-Barbara.jpg"
                    target="_blank" title="Beauty Works Invisi® Exclusives Collection - Santa Barbara">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Colour-Melt-Collection/Santa_Barbara.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Invisi® Exclusives Collection - Santa Barbara"
                        title="Beauty Works Invisi® Exclusives Collection - Santa Barbara">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Santa-Barbara.jpg"
                        target="_blank" title="Beauty Works Invisi® Exclusives Collection - Santa Barbara">
                        <h5 class="card-title">Santa Barbara</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Cool-Brown.jpg"
                    target="_blank" title="Beauty Works Invisi® Exclusives Collection - Cool Brown">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Colour-Melt-Collection/Cool_Brown.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Invisi® Exclusives Collection - Cool Brown"
                        title="Beauty Works Invisi® Exclusives Collection - Cool Brown">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Cool-Brown.jpg"
                        target="_blank" title="Beauty Works Invisi® Exclusives Collection - Cool Brown">
                        <h5 class="card-title">Cool Brown</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Truffle-Brown.jpg"
                    target="_blank" title="Beauty Works Invisi® Exclusives Collection - Truffle Brown">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Colour-Melt-Collection/Truffle_Brown.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Invisi® Exclusives Collection - Truffle Brown"
                        title="Beauty Works Invisi® Exclusives Collection - Truffle Brown">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Truffle-Brown.jpg"
                        target="_blank" title="Beauty Works Invisi® Exclusives Collection - Truffle Brown">
                        <h5 class="card-title">Truffle Brown</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Neutral_Blonde.jpg"
                    target="_blank" title="Beauty Works Invisi® Exclusives Collection - Neutral Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Colour-Melt-Collection/Neutral_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Invisi® Exclusives Collection - Neutral Blonde"
                        title="Beauty Works Invisi® Exclusives Collection - Neutral Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Neutral_Blonde.jpg"
                        target="_blank" title="Beauty Works Invisi® Exclusives Collection - Neutral Blonde">
                        <h5 class="card-title">Neutral Blonde</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Santa-Monica.jpg"
                    target="_blank" title="Beauty Works Invisi® Exclusives Collection - Santa Monica">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Colour-Melt-Collection/Santa_Monica.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Invisi® Exclusives Collection - Santa Monica"
                        title="Beauty Works Invisi® Exclusives Collection - Santa Monica">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Santa-Monica.jpg"
                        target="_blank" title="Beauty Works Invisi® Exclusives Collection - Santa Monica">
                        <h5 class="card-title">Santa Monica</h5>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>