<!-- CTA Block Styling -->
{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="89"}}
<!-- Colour Chart Styling -->
{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="92"}}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="shade-title">Light Colours</h3>
        </div>
    </div>
    <div class="row">

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Red-Tones/Large/Cherry.jpg" target="_blank"
                    title="Beauty Works Light Colour Collection - Cherry">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Red-Tones/Cherry.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Light Colour Collection - Cherry"
                        title="Beauty Works Light Colour Collection - Cherry">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Red-Tones/Large/Cherry.jpg" target="_blank"
                        title="Beauty Works Light Colour Collection - Cherry">
                        <h5 class="card-title">Cherry</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Tanned-Blonde.jpg"
                    target="_blank" title="Beauty Works Light Colour Collection - Tanned">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/Tanned_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Light Colour Collection - Tanned"
                        title="Beauty Works Light Colour Collection - Tanned">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Tanned-Blonde.jpg"
                        target="_blank" title="Beauty Works Light Colour Collection - Tanned">
                        <h5 class="card-title">10 Tanned</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Red-Tones/Large/Amber.jpg" target="_blank"
                    title="Beauty Works Light Colour Collection - Amber">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Red-Tones/Amber.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Light Colour Collection - Amber"
                        title="Beauty Works Light Colour Collection - Amber">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Red-Tones/Large/Amber.jpg" target="_blank"
                        title="Beauty Works Light Colour Collection - Amber">
                        <h5 class="card-title">30 Amber</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Red-Tones/Large/Scarlet.jpg" target="_blank"
                    title="Beauty Works Light Colour Collection - Scarlet">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Red-Tones/Scarlet.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Light Colour Collection - Scarlet"
                        title="Beauty Works Light Colour Collection - Scarlet">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Red-Tones/Large/Scarlet.jpg"
                        target="_blank" title="Beauty Works Light Colour Collection - Scarlet">
                        <h5 class="card-title">99J Scarlet</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Oak.jpg" target="_blank"
                    title="Beauty Works Light Colour Collection - Oak">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Dark-Tones/Oak.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Light Colour Collection - Oak"
                        title="Beauty Works Light Colour Collection - Oak">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Oak.jpg" target="_blank"
                        title="Beauty Works Light Colour Collection - Oak">
                        <h5 class="card-title">Oak</h5>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>