<!-- CTA Block Styling -->
{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="89"}}
<!-- Colour Chart Styling -->
{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="92"}}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="shade-title">Mixed & Ash Colours*</h3>
        </div>
    </div>
    <div class="row">

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Chocolate.jpg" target="_blank"
                    title="Beauty Works Mixed & Ash Colour Collection - Chocolate">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Dark-Tones/Chocolate.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Mixed & Ash Colour Collection - Chocolate"
                        title="Beauty Works Mixed & Ash Colour Collection - Chocolate">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Chocolate.jpg"
                        target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Chocolate">
                        <h5 class="card-title">4/6 Chocolate</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Blondette.jpg"
                    target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Blondette">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/Blondette.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Mixed & Ash Colour Collection - Blondette"
                        title="Beauty Works Mixed & Ash Colour Collection - Blondette">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Blondette.jpg"
                        target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Blondette">
                        <h5 class="card-title">4/27 Blondette</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Honey-Blonde.jpg"
                    target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Honey Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/Honey_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Mixed & Ash Colour Collection - Honey Blonde"
                        title="Beauty Works Mixed & Ash Colour Collection - Honey Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Honey-Blonde.jpg"
                        target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Honey Blonde">
                        <h5 class="card-title">6/24 Honey Blonde</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Blonde-Bombshell.jpg"
                    target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Blonde Bombshell">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/Blonde_Bombshell.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Mixed & Ash Colour Collection - Blonde Bombshell"
                        title="Beauty Works Mixed & Ash Colour Collection - Blonde Bombshell">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Blonde-Bombshell.jpg"
                        target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Blonde Bombshell">
                        <h5 class="card-title">14/24 Blonde Bombshell</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/California-Blonde.jpg"
                    target="_blank" title="Beauty Works Mixed & Ash Colour Collection - California Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/California_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Mixed & Ash Colour Collection - California Blonde"
                        title="Beauty Works Mixed & Ash Colour Collection - California Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/California-Blonde.jpg"
                        target="_blank" title="Beauty Works Mixed & Ash Colour Collection - California Blonde">
                        <h5 class="card-title">613/16 California Blonde</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Champagne-Blonde.jpg"
                    target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Champagne Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/Champagne_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Mixed & Ash Colour Collection - Champagne Blonde"
                        title="Beauty Works Mixed & Ash Colour Collection - Champagne Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Champagne-Blonde.jpg"
                        target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Champagne Blonde">
                        <h5 class="card-title">613/18 Champagne Blonde</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/LA-Blonde.jpg"
                    target="_blank" title="Beauty Works Mixed & Ash Colour Collection - LA Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/LA_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Mixed & Ash Colour Collection - LA Blonde"
                        title="Beauty Works Mixed & Ash Colour Collection - LA Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/LA-Blonde.jpg"
                        target="_blank" title="Beauty Works Mixed & Ash Colour Collection - LA Blonde">
                        <h5 class="card-title">613/24 LA Blonde</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Bohemian-Blonde.jpg"
                    target="_blank" title="Beauty Works Mixed & Ash Colour Collection - 18/22 Bohemian Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/Bohemian_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Mixed & Ash Colour Collection - 18/22 Bohemian Blonde"
                        title="Beauty Works Mixed & Ash Colour Collection - 18/22 Bohemian Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Bohemian-Blonde.jpg"
                        target="_blank" title="Beauty Works Mixed & Ash Colour Collection - 18/22 Bohemian Blonde">
                        <h5 class="card-title">18/22 Bohemian Blonde</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Dirty-Blonde.jpg"
                    target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Dirty Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/Dirty_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Mixed & Ash Colour Collection - Dirty Blonde"
                        title="Beauty Works Mixed & Ash Colour Collection - Dirty Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Dirty-Blonde.jpg"
                        target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Dirty Blonde">
                        <h5 class="card-title">613/16 Dirty Blonde</h5>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <p style="color: black;text-align: end;">
                <small>*Mixed & Ashed Colours = Light colours for weft and tape extensions</small>
            </p>
        </div>
    </div>
</div>