<!-- CTA Block Styling -->
{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="89"}}
<!-- Colour Chart Styling -->
{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="92"}}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="shade-title">Special Colours</h3>
        </div>
    </div>
    <div class="row">

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Ash-Tones/Large/Ivory.jpg" target="_blank"
                    title="Beauty Works Special Colour Collection - Ivory">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Ash-Tones/Ivory.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Special Colour Collection - Ivory"
                        title="Beauty Works Special Colour Collection - Ivory">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Ash-Tones/Large/Ivory.jpg" target="_blank"
                        title="Beauty Works Special Colour Collection - Ivory">
                        <h5 class="card-title">Ivory</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Ash-Tones/Large/Scandinavian-Blonde.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Scandinavian Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Ash-Tones/Scandinavian_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Special Colour Collection - Scandinavian Blonde"
                        title="Beauty Works Special Colour Collection - Scandinavian Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Ash-Tones/Large/Scandinavian-Blonde.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Scandinavian Blonde">
                        <h5 class="card-title">Scandinavian Blonde</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Ash-Tones/Large/Arctic-Blonde.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Arctic Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Ash-Tones/Arctic_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Special Colour Collection - Arctic Blonde"
                        title="Beauty Works Special Colour Collection - Arctic Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Ash-Tones/Large/Arctic-Blonde.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Arctic Blonde">
                        <h5 class="card-title">Arctic Blonde</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Balayage-Tones/Large/Bergen-Blonde.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Bergen Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Balayage-Tones/Bergen_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Special Colour Collection - Bergen Blonde"
                        title="Beauty Works Special Colour Collection - Bergen Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Balayage-Tones/Large/Bergen-Blonde.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Bergen Blonde">
                        <h5 class="card-title">Bergen Blonde</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Ash-Tones/Large/Viking-Blonde.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Viking Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Ash-Tones/Viking_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Special Colour Collection - Viking Blonde"
                        title="Beauty Works Special Colour Collection - Viking Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Ash-Tones/Large/Viking-Blonde.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Viking Blonde">
                        <h5 class="card-title">Viking Blonde</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Neutral_Blonde.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Neutral Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Colour-Melt-Collection/Neutral_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Special Colour Collection - Neutral Blonde"
                        title="Beauty Works Special Colour Collection - Neutral Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Neutral_Blonde.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Neutral Blonde">
                        <h5 class="card-title">Neutral Blonde</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Santa-Barbara.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Santa Barbara">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Colour-Melt-Collection/Santa_Barbara.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Special Colour Collection - Santa Barbara"
                        title="Beauty Works Special Colour Collection - Santa Barbara">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Santa-Barbara.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Santa Barbara">
                        <h5 class="card-title">Santa Barbara</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Santa-Monica.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Santa Monica">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Colour-Melt-Collection/Santa_Monica.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Special Colour Collection - Santa Monica"
                        title="Beauty Works Special Colour Collection - Santa Monica">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}wysiwyg/colour-chart-2019/Colour-Melt-Collection/Large/Santa-Monica.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Santa Monica">
                        <h5 class="card-title">Santa Monica</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/calabasas_swatch_4.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Calabasas">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/13-Calabasas.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Special Colour Collection - Calabasas"
                        title="Beauty Works Special Colour Collection - Calabasas">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/calabasas_swatch_4.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Calabasas">
                        <h5 class="card-title"><span style="color: #dacab9;">NEW</span> Calabasas</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Balayage-Tones/Large/Mocha-Melt.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Mocha Melt">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Balayage-Tones/Mocha_Melt.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Special Colour Collection - Mocha Melt"
                        title="Beauty Works Special Colour Collection - Mocha Melt">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Balayage-Tones/Large/Mocha-Melt.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Mocha Melt">
                        <h5 class="card-title">Mocha Melt</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Ashed-Brown.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Ashed Brown">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Dark-Tones/Ashed_Brown.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Special Colour Collection - Ashed Brown"
                        title="Beauty Works Special Colour Collection - Ashed Brown">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Dark-Tones/Large/Ashed-Brown.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Ashed Brown">
                        <h5 class="card-title">Ashed Brown</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Caramelized.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Caramelized">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/Caramelized.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Special Colour Collection - Caramelized"
                        title="Beauty Works Special Colour Collection - Caramelized">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Caramelized.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Caramelized">
                        <h5 class="card-title">Caramelized</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/sunset_boulevard_swatch_4.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Sunset Boulevard">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/15-Sunset-Boulevard.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Special Colour Collection - Sunset Boulevard"
                        title="Beauty Works Special Colour Collection - Sunset Boulevard">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/sunset_boulevard_swatch_4.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Sunset Boulevard">
                        <h5 class="card-title"><span style="color: #dacab9;">NEW</span> Sunset Boulevard</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/melrose_colour_swatch_4.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Melrose">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/14-Melrose.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Special Colour Collection - Melrose"
                        title="Beauty Works Special Colour Collection - Melrose">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/melrose_colour_swatch_4.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Melrose">
                        <h5 class="card-title"><span style="color: #dacab9;">NEW</span> Melrose</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Balayage-Tones/Large/High-Contrast-Warm.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - High Contrast Warm">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Balayage-Tones/High_Contrast_Warm.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Special Colour Collection - High Contrast Warm"
                        title="Beauty Works Special Colour Collection - High Contrast Warm">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Balayage-Tones/Large/High-Contrast-Warm.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - High Contrast Warm">
                        <h5 class="card-title">High Contrast Warm</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Balayage-Tones/Large/High-Contrast-Ash.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - High Contrast Ash">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Balayage-Tones/High_Contrast_Ash.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Special Colour Collection - High Contrast Ash"
                        title="Beauty Works Special Colour Collection - High Contrast Ash">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Balayage-Tones/Large/High-Contrast-Ash.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - High Contrast Ash">
                        <h5 class="card-title">High Contrast Ash</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Balayage-Tones/Large/Dubai.jpg" target="_blank"
                    title="Beauty Works Special Colour Collection - Dubai">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Balayage-Tones/Dubai.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Special Colour Collection - Dubai"
                        title="Beauty Works Special Colour Collection - Dubai">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Balayage-Tones/Large/Dubai.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Dubai">
                        <h5 class="card-title">Dubai</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Balayage-Tones/Large/Brondmbre.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Brond'mbre">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Balayage-Tones/Brond_mbre.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Special Colour Collection - Brond'mbre"
                        title="Beauty Works Special Colour Collection - Brond'mbre">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Balayage-Tones/Large/Brondmbre.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Brond'mbre">
                        <h5 class="card-title">Brond'mbre</h5>
                    </a>
                </div>
            </div>
        </div>

        <!-- 
            <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Balayage-Tones/Large/Norwegian-Blonde.jpg"
                    target="_blank" title="Beauty Works Special Colour Collection - Norwegian Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Balayage-Tones/Norwegian_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Special Colour Collection - Norwegian Blonde"
                        title="Beauty Works Special Colour Collection - Norwegian Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Balayage-Tones/Large/Norwegian-Blonde.jpg"
                        target="_blank" title="Beauty Works Special Colour Collection - Norwegian Blonde">
                        <h5 class="card-title">Norwegian Blonde</h5>
                    </a>
                </div>
            </div>
        </div>
 -->

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Vintage-Blonde.jpg"
                    target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Vintage">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/Vintage_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Mixed & Ash Colour Collection - Vintage"
                        title="Beauty Works Mixed & Ash Colour Collection - Vintage">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Vintage-Blonde.jpg"
                        target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Vintage">
                        <h5 class="card-title">60 Vintage</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Ash-Tones/Large/Iced-Blonde.jpg"
                    target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Iced Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Ash-Tones/Iced_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Mixed & Ash Colour Collection - Iced Blonde"
                        title="Beauty Works Mixed & Ash Colour Collection - Iced Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Ash-Tones/Large/Iced-Blonde.jpg"
                        target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Iced Blonde">
                        <h5 class="card-title">613/18a Iced Blonde</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Ash-Tones/Large/Barley-Blonde.jpg"
                    target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Barley Blonde">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Ash-Tones/Barley_Blonde.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Mixed & Ash Colour Collection - Barley Blonde"
                        title="Beauty Works Mixed & Ash Colour Collection - Barley Blonde">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Ash-Tones/Large/Barley-Blonde.jpg"
                        target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Barley Blonde">
                        <h5 class="card-title">18/22a Barley Blonde</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Pure-Platinum.jpg"
                    target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Pure Platinum">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Blonde-Tones/Pure_Platinum.jpg&quot;}}"
                        class="card-img-top" loading="lazy"
                        alt="Beauty Works Mixed & Ash Colour Collection - Pure Platinum"
                        title="Beauty Works Mixed & Ash Colour Collection - Pure Platinum">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Blonde-Tones/Large/Pure-Platinum.jpg"
                        target="_blank" title="Beauty Works Mixed & Ash Colour Collection - Pure Platinum">
                        <h5 class="card-title">60a Pure Platinum</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-xs-4">
            <div class="card">
                <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Ash-Tones/Large/Silver.jpg" target="_blank"
                    title="Beauty Works Mixed & Ash Colour Collection - Silver">
                    <img src="{{media url=&quot;wysiwyg/colour-chart-2019/Ash-Tones/Silver.jpg&quot;}}"
                        class="card-img-top" loading="lazy" alt="Beauty Works Mixed & Ash Colour Collection - Silver"
                        title="Beauty Works Mixed & Ash Colour Collection - Silver">
                </a>
                <div class="card-body">
                    <a href="{{store url=''}}media/wysiwyg/colour-chart-2019/Ash-Tones/Large/Silver.jpg" target="_blank"
                        title="Beauty Works Mixed & Ash Colour Collection - Silver">
                        <h5 class="card-title">Silver</h5>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>