<p style="color: #6d6d6d;">
    By partnering with Beauty Works and offering award winning hair extensions, you can increase your salon revenue with
    our unique product portfolio and HABIA endorsed extension methods.
    <br />
    <br />
    With a balance of both theory and practical training, our courses in the UK are held in both London and Manchester.
    <br />
    <br />
    As well as training you to the highest standard by our fully qualified educators, you'll gain a qualification
    approved by Habia. Regulated and recognised in the industry you'll be able to offer a new skill set straight on the
    salon floor.
    On completion of the course each graduate will hold a certification and be accredited Beauty Works stylist.
    <br />
    <br />
    Join some of the world's most recognised and respected hairdressing salons offering Beauty Works today.
</p>