<!-- CTA Block Styling -->
{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="89"}}

<style>
    .card-title {
        color: #dacab9 !important;
    }

    .card-text1 {
        height: 19rem;
    }

    .card-text2 {
        height: 14rem;
    }

    @media only screen and (max-width: 1024px) {
        .card-title2 {
            height: 3rem;
        }

        .card-text1 {
            height: 23rem;
        }

        .card-text2 {
            height: 18rem;
        }

    }

    @media only screen and (max-width: 800px) {
        .card-title1 {
            height: 2.5rem;
        }
    }

    @media only screen and (max-width: 600px) {
        .card-title1 {
            height: auto;
        }

        .card-title2 {
            height: auto;
        }

        .card-text1 {
            height: auto;
        }

        .card-text2 {
            height: auto;
        }
    }
</style>

<div class="col-md-4 col-xs-12">
    <div class="card">
        <a href="{{store url=''}}ultimate-tape-extension-course"
            title="View Dates for The Ultimate Tape Extension Courses">
            <img class="card-img-top"
                src="{{media url='wysiwyg/TRADE-eventCalender/course-we-offer/Ultimate_Tape_Extension_Courses2.jpg'}}"
                alt="View Dates for The Ultimate Tape Extension Courses"
                title="View Dates for The Ultimate Tape Extension Courses">
        </a>
        <div class="card-body">
            <a href="{{store url=''}}ultimate-tape-extension-course"
                title="View Dates for The Ultimate Tape Extension Courses">
                <h5 class="card-title card-title1">The Ultimate Tape Extension Courses</h5>
            </a>
            <p class="card-text card-text1">
                <small><b>Course Price £499.99</b></small>
                <br>
                Super fast extensions for clients and salons on the go. This revolutionary
                system allows users to add extensions in minutes, meaning you create full fringes, layers and a
                full head of extensions in under an hour.
            </p>
            <a href="{{store url=''}}ultimate-tape-extension-course" class="card-btn"
                title="View Dates for The Ultimate Tape Extension Courses">View Dates</a>
        </div>
    </div>
</div>

<div class="col-md-4 col-xs-12">
    <div class="card">
        <a href="{{store url=''}}prebonded-and-micro-ring-course" title="View Dates for Prebonded & Micro Ring Courses">
            <img class="card-img-top"
                src="{{media url='wysiwyg/TRADE-eventCalender/course-we-offer/Prebonded_Micro_Ring_Courses2.jpg'}}"
                alt="View Dates for Prebonded & Micro Ring Courses"
                title="View Dates for Prebonded & Micro Ring Courses">
        </a>
        <div class="card-body">
            <a href="{{store url=''}}prebonded-and-micro-ring-course"
                title="View Dates for Prebonded & Micro Ring Courses">
                <h5 class="card-title card-title1">Prebonded & Micro Ring Courses</h5>
            </a>
            <p class="card-text card-text1">
                <small><b>Course Price £549.99</b></small>
                <br>
                Learn how to integrate your client's hair seamlessly with pre-bonded extensions.
                Discover our wide range of colours and how to create bespoke blends for chemical free
                highlights. Allow clients to enjoy the natural movement with extension strands that flow and
                move easily, just like your own hair.
            </p>
            <a href="{{store url=''}}prebonded-and-micro-ring-course" class="card-btn"
                title="View Dates for Prebonded & Micro Ring Courses">View Dates</a>
        </div>
    </div>
</div>

<div class="col-md-4 col-xs-12">
    <div class="card">
        <a href="{{store url=''}}complete-micro-ring-course" title="View Dates for The Complete Micro Ring Course">
            <img class="card-img-top"
                src="{{media url='wysiwyg/TRADE-eventCalender/course-we-offer/Complete_Micro_Ring_Course2.jpg'}}"
                alt="View Dates for The Complete Micro Ring Course"
                title="View Dates for The Complete Micro Ring Course">
        </a>
        <div class="card-body">
            <a href="{{store url=''}}complete-micro-ring-course" title="View Dates for The Complete Micro Ring Course">
                <h5 class="card-title card-title1">The Complete Micro Ring Course</h5>
            </a>
            <p class="card-text card-text1">
                <small><b>Course Price £549.99</b></small>
                <br>
                Focus on the popular micro ring application methods and bring the very latest Nano
                Ring system back to your clients.With no braid, no glue and no heat, micro ring applications
                have taken the hair extension industry by storm. Speeding up more traditional methods of
                application and being recognised as a safer alternative.
            </p>
            <a href="{{store url=''}}complete-micro-ring-course" class="card-btn"
                title="View Dates for The Complete Micro Ring Course">View Dates</a>
        </div>
    </div>
</div>

<div class="col-md-4 col-xs-12">
    <div class="card">
        <a href="{{store url=''}}ultimate-weft-and-weave-course"
            title="View Dates for The Ultimate Weft & Weave Course">
            <img class="card-img-top"
                src="{{media url='wysiwyg/TRADE-eventCalender/course-we-offer/Ultimate_Weft_Weave_Course2.jpg'}}"
                alt="View Dates for The Ultimate Weft & Weave Course"
                title="View Dates for The Ultimate Weft & Weave Course">
        </a>
        <div class="card-body">
            <a href="{{store url=''}}ultimate-weft-and-weave-course"
                title="View Dates for The Ultimate Weft & Weave Course">
                <h5 class="card-title card-title2">The Ultimate Weft & Weave Course</h5>
            </a>
            <p class="card-text card-text2">
                <small><b>Course Price £499.99</b></small>
                <br>
                Learn how to integrate your clients hair seamlessly with bonded and tape extensions.
                Discover a wide range of colour with bespoke blonds. Allow your clients to enjoy natural
                movement, with extensions that flow easily just like your own hair.
            </p>
            <a href="{{store url=''}}ultimate-weft-and-weave-course" class="card-btn"
                title="View Dates for The Ultimate Weft & Weave Course">View
                Dates</a>
        </div>
    </div>
</div>

<div class="col-md-4 col-xs-12">
    <div class="card">
        <a href="{{store url=''}}creative-mix-1-course" title="View Dates for The Creative Mix 1 Course">
            <img class="card-img-top"
                src="{{media url='wysiwyg/TRADE-eventCalender/course-we-offer/The_Creative_Mix_1_Course2.jpg'}}"
                alt="View Dates for The Creative Mix 1 Course" title="View Dates for The Creative Mix 1 Course">
        </a>
        <div class="card-body">
            <a href="{{store url=''}}creative-mix-1-course" title="View Dates for The Creative Mix 1 Course">
                <h5 class="card-title card-title2">The Creative Mix 1 Course</h5>
            </a>
            <p class="card-text card-text2">
                <small><b>Course Price £649.99</b></small>
                <br>
                Focus on fast application with tape and weft extensions for clients and salons on
                the go. Learn to fit extensions in just one hour, also discover the benefits of seamless tape in
                extensions.
            </p>
            <a href="{{store url=''}}creative-mix-1-course" class="card-btn"
                title="View Dates for The Creative Mix 1 Course">View Dates</a>
        </div>
    </div>
</div>

<div class="col-md-4 col-xs-12">
    <div class="card">
        <a href="{{store url=''}}creative-mix-2-course" title="View Dates for The Creative Mix 2 Course">
            <img class="card-img-top"
                src="{{media url='wysiwyg/TRADE-eventCalender/course-we-offer/The_Creative_Mix_2_Course2.jpg'}}"
                alt="View Dates for The Creative Mix 2 Course" title="View Dates for The Creative Mix 2 Course">
        </a>
        <div class="card-body">
            <a href="{{store url=''}}creative-mix-2-course" title="View Dates for The Creative Mix 2 Course">
                <h5 class="card-title card-title2">The Creative Mix 2 Course</h5>
            </a>
            <p class="card-text card-text2">
                <small><b>Course Price £649.99</b></small>
                <br>
                Learn how to integrate your clients hair seamlessly with bonded and tape extensions.
                Discover a wide range of colour with bespoke blonds. Allow your clients to enjoy natural
                movement, with extensions that flow easily just like your own hair.
            </p>
            <a href="{{store url=''}}creative-mix-2-course" class="card-btn"
                title="View Dates for The Creative Mix 2 Course">View Dates</a>
        </div>
    </div>
</div>