<style>
    .fastTrack {
        text-align: center
    }

    .fastTrack p {
        color: #373737 !important;
    }

    @media only screen and (max-width: 800px) {
        .fastTrack p {
            height: 6rem;
        }
    }
</style>

<div class="col-md-3 col-xs-6">
    <div class="fastTrack">
        <img src="{{media url='wysiwyg/TRADE-eventCalender/one-day-fast-track-training/beauty-works-offer-award-winning-hair.jpg'}}"
            loading="lazy" alt="Offer award winning hair" title="Offer award winning hair" />
        <p> Offer award winning hair</p>
    </div>
</div>

<div class="col-md-3 col-xs-6">
    <div class="fastTrack">
        <img src="{{media url='wysiwyg/TRADE-eventCalender/one-day-fast-track-training/professional-hair-extension-kits.jpg'}}"
            loading="lazy" alt="Professional hair extension kit worth £300"
            title="Professional hair extension kit worth £300" />
        <p> Professional hair extension kit worth £300</p>
    </div>
</div>

<div class="col-md-3 col-xs-6">
    <div class="fastTrack">
        <img src="{{media url='wysiwyg/TRADE-eventCalender/one-day-fast-track-training/marketing-material.jpg'}}"
            loading="lazy" alt="Marketing material" title="Marketing material" />
        <p> Marketing material</p>
    </div>
</div>

<div class="col-md-3 col-xs-6">
    <div class="fastTrack">
        <img src="{{media url='wysiwyg/TRADE-eventCalender/one-day-fast-track-training/become-beauty-works-certified-stylist.jpg'}}"
            loading="lazy" alt="Become a Beauty Works certified stylist"
            title="Become a Beauty Works certified stylist" />
        <p> Become a Beauty Works certified stylist</p>
    </div>
</div>

<div class="col-md-3 col-xs-6">
    <div class="fastTrack">
        <img src="{{media url='wysiwyg/TRADE-eventCalender/one-day-fast-track-training/exclusive-trade-prices.jpg'}}"
            loading="lazy" alt="Access to exclusive trade prices" title="Access to exclusive trade prices" />
        <p>Access to exclusive trade prices</p>
    </div>
</div>

<div class="col-md-3 col-xs-6">
    <div class="fastTrack">
        <img src="{{media url='wysiwyg/TRADE-eventCalender/one-day-fast-track-training/dedicated-account-manager.jpg'}}"
            loading="lazy" alt="Manager assigned to your account" title="Manager assigned to your account" />
        <p> Manager assigned to your account</p>
    </div>
</div>

<div class="col-md-3 col-xs-6">
    <div class="fastTrack">
        <img src="{{media url='wysiwyg/TRADE-eventCalender/one-day-fast-track-training/hair-extension-promotions.jpg'}}"
            loading="lazy" alt="Enjoy Beauty Works promotions" title="Enjoy Beauty Works promotions" />
        <p> Enjoy Beauty Works promotions</p>
    </div>
</div>

<div class="col-md-3 col-xs-6">
    <div class="fastTrack">
        <img src="{{media url='wysiwyg/TRADE-eventCalender/one-day-fast-track-training/conferences-and-events.jpg'}}"
            loading="lazy" alt="Join conferences & events" title="Join conferences & events" />
        <p> Join conferences & events</p>
    </div>
</div>