<!-- CTA Block Styling -->
{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="89"}}

<style>
    .card-title,
    .fa,
    .card .card-body ul li:before {
        color: #dacab9;
    }

    .educator-names {
        font-size: 1.5rem !important;
        padding-top: 0 !important;
        margin-bottom: 1rem !important;
    }

    .card-body h6 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .card-text {
        height: 14.5rem;
    }

    .card .card-body ul {
        height: 7rem;
    }

    .educator-IG {
        background: none;
        color: #373737;
        border: none;
        text-transform: lowercase;
        border-top: solid 1px #dacab9;
        padding: 10px 20px;
    }

    @media only screen and (max-width: 1024px) {
        .card-text {
            height: 19rem;
        }

        .card .card-body ul {
            height: 9rem;
            padding-left: 0em !important;
        }
    }

    @media only screen and (max-width: 800px) {
        .card-text {
            height: 28rem;
        }

        .card .card-body ul {
            height: 10rem;
        }
    }

    @media only screen and (max-width: 600px) {
        .card-text {
            height: auto;
        }

        .card .card-body ul {
            height: auto;
        }
    }
</style>

<div class="col-md-4 col-xs-12">
    <div class="card">
        <img src="{{media url='wysiwyg/TRADE-eventCalender/meet-our-educators/trainer-dawn1.jpg'}}" class="card-img-top"
            loading="lazy" alt="Dawn - Head of Education" title="Dawn - Head of Education" />
        <div class="card-body">
            <h5 class="card-title educator-names">DAWN</h5>
            <h6>Head of Education</h6>
            <p class="card-text">
                <small>
                    Dawn has been working with hair extensions for over 13 years, she has a
                    certificate in education, all levels of hairdressing and an assessor’s award. Since
                    working with BW Dawn has taught over 2000 students, training in both Manchester and
                    London weekly. Dawn’s specialist skills makes her an expert in all aspects of
                    hair.
                    <ul>
                        <li>Level 1, 2, 3 NVQ apprenticeship in hairdressing</li>
                        <li>Cert ED (Certificate of Education)</li>
                        <li>A1 & A2 Assessor Award</li>
                        <li>IQA Internal Quality Assurance (IQA)</li>
                    </ul>
                </small>
            </p>
            <a href="https://www.instagram.com/dawn_louise_hair/" target="_blank" class="educator-IG"
                title="Dawn - Head of Education"><i class="fa fa-instagram" aria-hidden="true"></i>dawn_louise_hair</a>
        </div>
    </div>
</div>

<div class="col-md-4 col-xs-12">
    <div class="card">
        <img src="{{media url='wysiwyg/TRADE-eventCalender/meet-our-educators/trainer-emily2.jpg'}}"
            class="card-img-top" loading="lazy" alt="Emily - Educator" title="Emily - Educator" />
        <div class="card-body">
            <h5 class="card-title educator-names">EMILY</h5>
            <h6>Educator</h6>
            <p class="card-text">
                <small>
                    Emily has trained with BW for over 5 years and has worked on photo shoots and hair
                    trade events around the UK. She counts Celebrities including Molly Mae, Maura
                    Higgins and Olivia Atwood as client. Her specialists skills in hair extension
                    application make her highly Experienced in all methods of hair extension application
                    and removal.
                    <ul>
                        <li>Level 1, 2, 3 NVQ apprenticeship in hairdressing</li>
                        <li>Award in Teacher Training (AET/PTLLS)</li>
                    </ul>
                </small>
            </p>
            <a href="https://www.instagram.com/emilyrosemonkhair/?igshid=1aoeodh3a3mqc" target="_blank"
                class="educator-IG" title="Emily - Educator"><i class="fa fa-instagram"
                    aria-hidden="true"></i>emilyrosemonkhair</a>
        </div>
    </div>
</div>

<div class="col-md-4 col-xs-12">
    <div class="card">
        <img src="{{media url='wysiwyg/TRADE-eventCalender/meet-our-educators/trainer-lenka3b.jpg'}}"
            class="card-img-top" loading="lazy" alt="Lenka - Educator" title="Lenka - Educator" />
        <div class="card-body">
            <h5 class="card-title educator-names">LENKA</h5>
            <h6>Educator</h6>
            <p class="card-text">
                <small>
                    Lenka started working with hair extensions from age 17, working with BW for over 5
                    years assisting at photo shoots and hair trade shows, including professional hair
                    live with celebrity hair stylist Jen Atkin. Training both in London and Manchester
                    weekly, Lenka’s specialists skills in hair extension application make her an expert
                    in application and removal of hair extensions.
                    <ul>
                        <li>Level 1, 2, 3 NVQ apprenticeship in hairdressing</li>
                        <li>Award in Teacher Training (AET/PTLLS)</li>
                    </ul>
                </small>
            </p>
            <a href="https://www.instagram.com/beautycutie_salon/" target="_blank" class="educator-IG"
                title="Lenka - Educator"><i class="fa fa-instagram" aria-hidden="true"></i>beautycutie_salon</a>
        </div>
    </div>
</div>